*{
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-weight: 500;
    font-size: 40px;
    margin-top: 10px;
}
hr{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.container{
    width: 1000px;
    height: auto;
    margin: auto;
}
.colOne{
    width: 40%;
    height: auto;
    float: left;
}
.colTwo{
    width: 60%;
    height: auto;
    display: inline-block;
}
label{
    display: block;
    font-weight: 400;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}
#btn_save{
    cursor: pointer;
    background-color: #007bff;
    color: #ffff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition:.15s ;
    display: block;
    margin-top: 15px;   
}
#btn_save:hover{
    background-color:#0069D9;
    color: #ffff;
    transition:.15s ;
}
input{
    width: 330px;
    height: 23px;
    border: 1.5px solid rgba(0,0,0,.125);
    border-radius: 4px;
}
table {
    font-weight: 400 lighter;
    width:600px;
    margin:20px auto;
    table-layout:fixed;
    border-collapse:collapse;
    border:1px solid black;
    text-align: left;
}
th{
    border-right:1px solid black;
    padding: 5px;
}
.th_delete{
    width:80px;
}
.th_image{
    width: 195px;
}
tr{
    border:1px solid black;
    padding: 5px;
}
#btn_delete{
    cursor: pointer;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition:.15s ;
    display: block;
    margin-top: 15px;   
}
#btn_delete:hover{
    background-color:#C82333;
    color: #ffff;
    transition:.15s ;
}